*{
    margin: 0px ;
    padding: 10px;
}
body{
    font-family: monospace;
    font-size: 15px;
}
img{
  height: 250px;
  width: 500px;
}
h1,h2 {
    color:rgb(16, 26, 37);
}
ul li ol {
    margin-left: 5px;
}
.racing{
    color:brown;
    font-size: 25px;
}
.inforegis {
    color:brown;
    font-size: 25px;
}
button{
    background-color: black;
    color: aliceblue;
    padding-inline: 50px;
    padding-block: 40px;
    margin: 10px;
}
button:hover{
    background-color: aliceblue;
    color: black;
}